@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FAFAFA;
  color: #1A1A2E;
}

@layer utilities {
  .text-gradient {
    background: linear-gradient(135deg, #0BBCB7 0%, #099E9A 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
